body{
    margin: 0;
    background: linear-gradient(to right, rgba(1, 20, 96, 0.6) 0 50%, white 99% 100%);
}

.modal-dialog{
    min-width: 545px;
    position: fixed;
    top: 0;
    left: 30%;
    width: 100%;
}

.card-anterior{
    border: none;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.card-body{
    background: linear-gradient(to right, rgba(1, 20, 96, 0.6) 0 50%, white 99% 100%);
}

.borde-tablas{
    border: solid #3a3a3a;
}

.modal-content{
    border: solid 2px white;
    border-radius: 25px;
    background-color: #3a3a3a;
}

.imagen-usuario{
    border-radius: 50%;
    position: absolute;
    top: 15px;
    width: 50px;
    height: 50px;
    right: 34%;
}

.titulo-sistema{
    font-size: 20px;
    justify-items: center;
    color: #fff;
    margin-top: 20px;
}

.btn-numeracion{
    border: none;
    border-radius: 10px;
    background-color: rgb(160, 14, 14);
    cursor: pointer;
    color:white;
    font-size: 16px;
    align-items: center;
    padding: 10px 15px 10px 15px;
    margin-right: 5px;
    transition: all .3s ease-in-out;
    position: absolute;
    right: 1%;
    top: 3%;
}

.btn-numeracion:hover{
    background-color: rgb(109, 11, 11);
    transform: scale(1.05);
    border: solid 1px #fff;
}

.contenedor-select{
    min-width: 210px;
}

.contenedor-select select{
    padding: 10px;
    height: 38px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}

.contenedor-select-materia select{
    padding: 9px;
    height: 38px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}

.contenedor-select-materia-modal select{
    padding: 9px;
    height: 38px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 150px;
}

.titulo-sistema h1{
    animation: heartbeat 15s infinite;
}

@keyframes heartbeat {
    14% {
        transform: scale(1.1);
    }
    29% {
        transform: scale(1);
    }
    43% {
        transform: scale(1.1);
    }
    57% {
        transform: scale(1);
    }
    62% {
        transform: scale(1.1);
    }
    76% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.modal-title{
    font-size: 30px;
}

a{
    text-decoration: none;
    color:white;
}

.boton-index{
    border: none;
    border-radius: 10px;
    background-color: rgb(160, 14, 14);
    cursor: pointer;
    color:white;
    font-size: 16px;
    align-items: center;
    padding: 10px 15px 10px 15px;
    margin-right: 30px;
    transition: all .7s ease-in-out;
}

.boton-index:hover{
    background-color: rgb(109, 11, 11);
    transform: scale(1.15);
    border: solid 1px #fff;
}


header{
    display: flex;
    height: 80px;
    background: linear-gradient(rgba(1, 20, 96), rgba(1, 20, 96));
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cueto{
    display: flex;
    align-items: center;
}

.contenedor-usuario-salir{
    display: flex;
    align-items: center;
}

.contenedor-usuario{
    display: flex;
    margin-right: 20px;
}

.contenedor-usuario img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.labels-usuario{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 10px;
}

.usuario{
    font-size: 24px;
}

.rol{
    font-size: 12px;
}

.boton-sistema{
    border: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(148, 148, 175);
    cursor: pointer;
}

.boton-sistema:hover{
    background-color:  rgba(148, 148, 175, 0.541);
}

h2{
    padding-top: 10px;
    font-size: 25px;
}

.btn-menu label{
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin-right: 8px;
}

.btn-menu label:hover{
    transition: all .7s ease;
    transform: scale(1.25);
}

#btn-menu{
    display: none;
}

.container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}


#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}


.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #3a3a3a;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    padding: 20px;
    color: #fff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
    transform: translate(5px, -5px);
}

.equis{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.equis:hover{
    transition: all .3s ease;
    transform: scale(1.5);
}

.label-menu{
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 34%;
    top: 2%;
}

.logo-escuelas{
    border-radius: 25px;
    width: 225px;
    height: 100px;
    position: absolute;
    bottom: 6%;
    left: 5%;
}

.contenedor-principal{
    position: relative;
    z-index: 5;
    padding-bottom: 20px;
}

.img-escuelas{
    justify-items: center;
    max-width: 200px;
}

.campos{
    margin: 10px;
}

.encabezado-botones{
    width: 210px;
}

.modal-backdrop{
    display: none;
}

.modal{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1000;
}

.card-body{
    min-height: 400px;
}



@media(max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}